# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [31]:
import pandas as pd
import numpy as np

df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df.shape

(4008, 11)

In [32]:
print(df.dtypes)

Customer                      object
ST                            object
GENDER                        object
Education                     object
Customer Lifetime Value       object
Income                       float64
Monthly Premium Auto         float64
Number of Open Complaints     object
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
dtype: object

In [33]:
#Number of complaints should be int, not object cause the nb of comp can only be a discrete nb. 
# df['Number of Open Complaints']= pd.to_numeric(df['Number of Open Complaints'], errors = 'coerce') can be used. 
#Also CLV should be a float instead of an object.
df[['Number of Open Complaints','Customer Lifetime Value']]

     Number of Open Complaints Customer Lifetime Value
0                       1/0/00                     NaN
1                       1/0/00              697953.59%
2                       1/0/00             1288743.17%
3                       1/0/00              764586.18%
4                       1/0/00              536307.65%
...                        ...                     ...
4003                       NaN                     NaN
4004                       NaN                     NaN
4005                       NaN                     NaN
4006                       NaN                     NaN
4007                       NaN                     NaN

[4008 rows x 2 columns]

In [34]:
df['Number of Open Complaints'].isna().sum()

2937

In [35]:
cols = []

for column in df.columns:
    cols.append(column)
    print(f"{column} = {df[column].nunique()}")
    
categorical = [cols for cols in df.columns if df[cols].dtype == 'object']
numerical = [cols for cols in df.columns if df[cols].dtype in ['float64','int64']]

print(f"{numerical} are the numerical columns")
print(f"{categorical} are the categorical columns")

Customer = 1071
ST = 8
GENDER = 5
Education = 6
Customer Lifetime Value = 1027
Income = 774
Monthly Premium Auto = 132
Number of Open Complaints = 6
Policy Type = 3
Vehicle Class = 6
Total Claim Amount = 761
['Income', 'Monthly Premium Auto', 'Total Claim Amount'] are the numerical columns
['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class'] are the categorical columns

In [36]:
print(categorical)
print(numerical)

['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class']
['Income', 'Monthly Premium Auto', 'Total Claim Amount']

In [37]:
df[categorical]
for column in categorical:
    display(column)
    display(df[column].unique())
    
for column in numerical:
    numeric_values = pd.to_numeric(df[column], errors='coerce')
    min_value = numeric_values.min()
    max_value = numeric_values.max()
    print(f"{column} = {min_value} - {max_value}")

'Customer'

array(['RB50392', 'QZ44356', 'AI49188', ..., 'CW49887', 'MY31220', nan],
      dtype=object)

'ST'

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

'GENDER'

array([nan, 'F', 'M', 'Femal', 'Male', 'female'], dtype=object)

'Education'

array(['Master', 'Bachelor', 'High School or Below', 'College',
       'Bachelors', 'Doctor', nan], dtype=object)

'Customer Lifetime Value'

array([nan, '697953.59%', '1288743.17%', ..., '2031499.76%', '323912.47%',
       '899704.02%'], dtype=object)

'Number of Open Complaints'

array(['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00', nan],
      dtype=object)

'Policy Type'

array(['Personal Auto', 'Corporate Auto', 'Special Auto', nan],
      dtype=object)

'Vehicle Class'

array(['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car',
       'Luxury Car', nan], dtype=object)

Income = 0.0 - 99960.0
Monthly Premium Auto = 61.0 - 35354.0
Total Claim Amount = 0.382107 - 2893.239678

In [38]:
sum_numerical = df[numerical].describe()
print(sum_numerical)

             Income  Monthly Premium Auto  Total Claim Amount
count   1071.000000           1071.000000         1071.000000
mean   39295.701214            193.234360          404.986909
std    30469.427060           1601.190369          293.027260
min        0.000000             61.000000            0.382107
25%    14072.000000             68.000000          202.157702
50%    36234.000000             83.000000          354.729129
75%    64631.000000            109.500000          532.800000
max    99960.000000          35354.000000         2893.239678

In [39]:
df.describe(include='number').T #learnt on lab review

,count,mean,std,min,25%,50%,75%,max
Income,1071.0,39295.701214,30469.427060,0.000000,14072.000000,36234.000000,64631.0,99960.000000
Monthly Premium Auto,1071.0,193.234360,1601.190369,61.000000,68.000000,83.000000,109.5,35354.000000
Total Claim Amount,1071.0,404.986909,293.027260,0.382107,202.157702,354.729129,532.8,2893.239678

In [40]:
df.describe(include='object').T #learnt on lab review

                          count unique            top freq
Customer                   1071   1071        RB50392    1
ST                         1071      8         Oregon  320
GENDER                      954      5              F  457
Education                  1071      6       Bachelor  324
Customer Lifetime Value    1068   1027     445811.34%    4
Number of Open Complaints  1071      6         1/0/00  830
Policy Type                1071      3  Personal Auto  780
Vehicle Class              1071      6  Four-Door Car  576

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [48]:
#states = {'Oregon' : 'OR',
#         'California' : 'CA' ,
 #         'Arizona' : 'AZ',
  #        'Cali' : 'CA',
   #       'Nevada' : 'NV',
    #      'Washington' : 'WA',
     #     'WA' : 'WA',
      #    'AZ' : 'AZ'}

#df['ST'] = df['ST'].replace(states)
df['ST'].unique()
display(df['ST'].value_counts())
locations = df['ST'].value_counts()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [50]:
locations.tail(5).sort_values(ascending=True)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [56]:
policies = df['Policy Type'].value_counts()
policies.head(1)

Policy Type
Personal Auto    780
Name: count, dtype: int64

In [58]:
policies.idxmax() #learnt in lab review

'Personal Auto'

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [64]:
df_pa = df[df['Policy Type']=='Personal Auto']
df_ca = df[df['Policy Type']=='Corporate Auto']

print(df_pa['Income'].mean())
print(df_ca['Income'].mean())

38180.69871794872
41390.31196581197

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [67]:
df['Total Claim Amount'].describe()

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64

In [76]:
high_pc = df[df['Total Claim Amount']>df['Total Claim Amount'].quantile(0.75)]
display(high_pc.describe(include='number').T)
display(high_pc.describe(include='object').T)

,count,mean,std,min,25%,50%,75%,max
Income,264.0,23677.344697,27013.483721,0.0,0.000000,18807.000000,42423.75,99316.000000
Monthly Premium Auto,264.0,165.193182,623.930992,63.0,99.000000,114.000000,133.25,10202.000000
Total Claim Amount,264.0,782.228263,292.751640,537.6,606.521741,679.597985,851.40,2893.239678

                          count unique            top freq
Customer                    264    264        QZ44356    1
ST                          264      7         Oregon   90
GENDER                      238      5              F  115
Education                   264      5       Bachelor   85
Customer Lifetime Value     264    256     578018.22%    3
Number of Open Complaints   264      6         1/0/00  206
Policy Type                 264      3  Personal Auto  191
Vehicle Class               264      6            SUV  101